@import url(http://fonts.googleapis.com/css?family=Cuprum);
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
@import url(http://fonts.googleapis.com/css?family=Roboto);

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts";

$font-base-size: 16px;
$headings-font-family: "Cuprum", sans-serif;
$font-family-monospace: "Oxygen Mono", monospace;
$font-family-sans-serif: "Roboto", monospace;

$brand-primary: #009999;

$body-bg: #fff;
$blockquote-border-color: darken($body-bg, 5%);
$hr-border: darken($body-bg, 5%);

$table-bg: lighten($body-bg, 10%);

@import "bootstrap";
// @import "bootstrap/theme";

@import "font-awesome/font-awesome";

pre {
  word-break: normal;
}

div#main {
  padding-top: 40px;
  padding-bottom: 40px;
}

.content {
  img {
    @extend .img-responsive;
    max-height: 500px;
  }
}

.img-do-badge {
  height: 30px;
  width: auto;
}

.blog-sidebar {
  text-align: center;
}

.blog-sidebar p {
  margin: 1em 0;
}

.blog-title {
  font-family: $headings-font-family;
  font-size: $font-size-h1;
}

.post-title {
  font-size: $font-size-h4;
}

.small {
  color: #adadad;
  margin-bottom: 10px;
  font-size: 12px;
}

table {
  @extend .table;
  @extend .table-bordered;
  @extend .table-hover;
  @extend .table-condensed;
}

// Oxygen Mono is slightly larger than most fonts
code, pre {
  font-size: ($font-size-base - 2);
}

div.panel-series {
  @extend .panel;
  @extend .panel-default;
  @extend .pull-right;

  margin: 0 15px;
}
