<!DOCTYPE html>
<html lang="en">
  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

      <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

      <meta name="viewport" content="width=device-width, initial-scale=1">

      {% stylesheet main %}
      {% stylesheet syntax %}

  </head>
  <body>

    <div id="main" class="container">

      <div class="row">

        <div class="col-md-4 blog-sidebar">

          <a href="/"><img src="https://s.gravatar.com/avatar/c665d5c046eb8dc2c14c22e2f65463af?s=150" alt="Ian Unruh" class="img-rounded"></a>

          <p><a href="/" class="blog-title">{{ site.name }}</a></p>

          <a href="https://github.com/ianunruh"><i class="fa fa-github-alt fa-4x"></i></a>
          <a href="https://twitter.com/ianunruh"><i class="fa fa-twitter fa-4x"></i></a>
          <a href="https://facebook.com/ian.unruh"><i class="fa fa-facebook-square fa-4x"></i></a>
          <a href="https://foursquare.com/ianunruh"><i class="fa fa-foursquare fa-4x"></i></a>
          <a href="https://linkedin.com/in/ianunruh"><i class="fa fa-linkedin-square fa-4x"></i></a>

          <hr>

          <p>
            Network security researcher at Kansas State University. Part-time DevOps engineer. Distributed systems newbie. Caffeine enthusiast. Voluntaryist.
          </p>

          <p>
            Based in the <a href="https://www.google.com/maps/place/Manhattan+KS">The Little Apple</a>
          </p>

          <hr>

          <div>
            <h3>Links</h3>

            <ul class="list-unstyled">
              <li><a href="http://ianunruh.com/minecraft">Minecraft Overviewer</a></li>
              <li><a href="http://last.fm/user/sobenofear">Last.fm</a></li>
            </ul>

            <h3>Blogroll</h3>

            <ul class="list-unstyled">
              <li><a href="http://lostechies.com/">LosTechies</a></li>
              <li><a href="http://codeascraft.com/">Code as Craft</a></li>
              <li><a href="http://aphyr.com/posts">Aphyr</a></li>
            </ul>
          </div>

        </div>

        <div class="col-md-8">
          {{ content }}
        </div>

      </div>

      <hr>

      <div class="footer">
        <div class="pull-right">
          <a href="https://www.digitalocean.com/?refcode=ddac7aa191d7">
            <img src="/images/do_badge.png" alt="Powered by DigitalOcean" class="img-do-badge">
          </a>
        </div>

        <p>
          &copy; 2014 <a href="https://github.com/ianunruh/ianunruh.com">Ian Unruh</a>
        </p>
      </div>

      {% javascript main %}

    </div>

  </body>
</html>
